/* ======mobile device=====-- */
@media screen and (max-width:576px) {

    .teams-container,
    .navbar,
    .nav-menu {
        flex-direction: column;
        gap: 1rem;
    }

    .teams-container .feature-content {
        padding-top: 1.4rem;
        text-align: center;
        padding-left:1px ;
    }
}