@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------universal selected end----------- */

/* ---------------shared style style---------- */
.container {
    width: min(90%, 1440px);
    margin: 0 auto;
}

.section-heading {
    font-size: clamp(2rem, 3vw, 2.8rem);
    font-weight: 700;
    margin-bottom: 1.8rem;
}

.fact-description {
    max-width: 542px;
    width: 100%;

}

.display-flex {
    display: flex;
}

/* yellow primary */
.text-primary {
    color: rgba(255, 144, 14, 1);
}

/* dark 03 color */
.text-gray {
    color: #727272;
}

/* dark 02 */
.text-light-gray {
    color: #424242;
}

/* background color */
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.primary-btn {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1.25rem 1.5rem;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 144, 14, 1);
}

.teams,
.feature,
.some-fact,
.sponsors {
    margin-bottom: clamp(3rem, 9vw, 6.2rem);
}

/* ---------------shared style end---------- */

/*=============header style area start=========== */
/* ------navbar style start ----- */
.navbar {
    padding-block: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(3rem, 8vw, 4rem);
}

.navbar .nav-menu {
    list-style: none;

}

.navbar .nav-link {
    text-decoration: none;
    margin-left: 2.5rem;
    font-weight: 500;
}

.navbar .brand {
    font-size: clamp(1.75rem, 4vw, 2.4rem);
    font-style: 700;
}

.navbar a {
    font-size: 1.125rem;
}

/* ------navbar style end----- */
/* -----===banner style start===---- */

.banner-container {
    text-align: center;
}

.banner-container .banner-content {
    max-width: 862px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.banner-container .banner-content h2 {
    font-size: clamp(2.1rem, 4vw, 4rem);
    font-weight: bold;
    margin-bottom: 1.7rem;
}

.banner-container .banner-content p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-bottom: clamp(1.25rem, 2.5vw, 2rem);
}

/* ----brn already define shared style--- */

.banner-container .banner-img {
    max-width: 1440px;
    margin: 3rem auto 0;
}

.banner-container .banner-img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* -----===banner style end===---- */
/*=============header style area end=========== */

/* --====main area style start===--- */

/* ------=====feature style start======---- */
.teams {
    padding-top: clamp(3.7rem, 7vw, 5rem);

}

.teams-container {
    align-items: center;
    padding-inline: clamp(1rem, 2.5vw, 2rem);
}

.teams-container .teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}

.teams-container .teams-img img {
    max-width: 340px;
    width: 100%;
    height: auto;

}

.teams-container .teams-content {
    max-width: 537px;
    width: 100%;
    padding-left: clamp(2rem, 3vw, 4rem);
}

#quick-list {
    font-weight: 500;
}

.teams-content p {
    font-weight: 1.7rem;
    margin-bottom: 2rem;
}

/* ------=====feature style start======---- */
.feature-container {
    gap: clamp(1.2rem, 9vw, 8rem);
    align-items: center;
}

#feature-section-title {
    max-width: 408px;
    width: 100%;
    padding-left: 1.3rem;
    border-left: 5px solid rgba(255, 144, 14, 1);
}

.feature-card .feature-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.feature-content .feature-card {
    padding: 1.9rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
    margin-bottom: 1.25rem;
    border-radius: 8px;
}

.feature-content .text-gray {
    margin-bottom: 0px;
}

#experience-badge {
    padding: clamp(1.5rem, 2.8vw, 2.625rem);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: clamp(1.5rem, 3vw, 2.5rem);
    /* transform: translate(-4rem, -6rem); */
    position: absolute;
    bottom: -4rem;
    left: -6rem;


}

#experiennce-year {
    font-size: clamp(1.9rem, 2.9vw, 4rem);
}

.feature-container .feature-img {
    max-width: 700px;
    width: 100%;
    position: relative;

}

.feature-container .feature-img img {
    width: 100%;
    object-fit: cover;
}

/* -----====some fact area style start-----====== */
/* .some-fact {
    margin-bottom: clamp(2rem, 12vw, 11rem);
} */

.some-fact {
    padding-top: 4rem;
}

.some-fact-content {
    margin-bottom: clamp(2rem, 6.9vw, 6.25rem);

}

.some-fact-container .fact-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: clamp(1.5rem, 8.6vw, 7.75rem);
    /* align-items: center;
    justify-content: space-between; */
    padding-inline: 2rem;

}

.some-fact-container .fact-card .card {
    border: 2px solid rgba(255, 144, 14, 1);
    /* width: 240px; */
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.fact-card .card .card-number {
    font-size: clamp(1.7rem, 3.1vw, 2.8rem);
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
}

.fact-card .card .card-name {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-weight: 600;
    margin-top: 10px;
}

/* -----====some fact area style end-----====== */

/* /---=-=== sponsor are style start-========-=-=-== */
.sponsors-container .sponsors-info {
    max-width: 542px;
    width: 100%;
    text-align: center;
    margin: 50px auto;
}

.sponsors-container .company {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(166px, 1fr));
    gap: clamp(2rem, 10vw, 8rem);
    align-items: center;
}

.company .company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company .company-logo img {
    max-width: 166px;
    width: 100%;
    height: auto;
    filter: grayscale(100%);
}

/* /---=-=== sponsor are style  end-========-=-=-== */
/* --====main area style end===--- */

/* -------footer style start------- */
footer {
    margin-bottom: clamp(4rem, 17vw, 15.5rem);
}

footer .footer-container {
    justify-content: center;
    text-align: center;
}

footer .footer-container p {
    padding-block: clamp(1.5rem, 3vw, 2.5rem);
    font-size: 1.25rem;
}
/* -------footer style end------- */