@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------universal selected end----------- */

/* ---------------shared style style---------- */
.container {
    width: min(95%, 1440px);
    margin: 0 auto;
    padding-inline: 1rem;
}

.display-flex {
    display: flex;
}

/* dark 03 color */
.text-gray {
    color: #727272;
}

/* dark 02 */
.text-light-gray {
    color: #424242;
}

/* background color */
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

/* ---------------shared style end---------- */
/*=============header style area start=========== */
/* ------navbar style start ----- */
.navbar {
    padding-block: 2rem;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-menu {
    list-style: none;

}

.navbar .nav-link {
    text-decoration: none;
    margin-left: 2.5rem;
    font-weight: 500;
}

.navbar .brand {
    font-size: clamp(1.75rem, 4vw, 2.4rem);
    font-style: 700;
}

.navbar a {
    font-size: 1.125rem;
}

/* ------navbar style end----- */
/* -----===header style start===---- */

.banner-container {
    text-align: center;
}

.banner-container .banner-content {
    max-width: 862px;
    width: 100%;
    padding-top: clamp(3rem, 8vw, 4rem);
    text-align: center;
    margin: 0 auto;
}

.banner-container .banner-content h2 {
    font-size: clamp(2.1rem, 4vw, 4rem);
    font-weight: bold;
    margin-bottom: 1.7rem;
}

.banner-container .banner-content p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-bottom: clamp(1.25rem, 2.5vw, 2rem);
}

.banner-content .banner-btn {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1.25rem 1.5rem;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 144, 14, 1);
}

.banner-container .banner-img {
    max-width: 1440px;
    margin: 3rem auto 0;
}

.banner-container .banner-img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* -----===header style end===---- */
/*=============header style area end=========== */